﻿@model Sys_Inform.Models.Notification

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Notification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Txt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Txt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrevDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrevDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
