﻿@model IEnumerable<Sys_Inform.Models.Notification>

@{
    ViewBag.Title = "NotifList";
}

<h2>Notifications</h2>

<p>
    @Html.ActionLink("Create New", "AddNotif")
    @Html.ActionLink("WebSites", "SiteList", "WebSites")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Txt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrevDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Txt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrevDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
