﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>To use our appication you just need to register and then you can click on Notification/WebSite list button, and then you will see your personal lists, and there will be button "Add new"</p>
