﻿@{
    ViewBag.Title = "Main Page";
}

<div class="jumbotron">
    <h1>Notificator</h1>
    <p class="lead">Welcome to our newest system of checking changes on WebSites. Push About button or the one below to see some help, how to use it. Enjoy!</p>
    <p><a href="http://localhost:60084/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>WebSite List</h2>
        <p>
            Your list of WebSites, which you are monitoring.
        </p>
        <p><a class="btn btn-default" href="http://localhost:60084/WebSites/SiteList">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Notification List</h2>
        <p>
            Your list of Notifications.
        </p>
        <p><a class="btn btn-default" href="http://localhost:60084/Notifications/NotifList">Go &raquo;</a></p>
    </div>
</div>